<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELROSE</title>
    <link rel="stylesheet" href="./assets/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../Styles.css">
    <script src="./angular.min.js"></script>
    <script src="./controller.js"></script>
</head>
<body body ng-app="monApp" ng-controller="usercontroller">
    <!-- header   -->
    <div class="container-fluid-p-0">
        <div class="categorie">
            <div class="row menuheader">
                <div class="col-2 logo">
                    <img src="assets/img/logo.png" alt="" class="logo">
                </div>
                <div class="col-8"></div>
                <div class="col-2 btnconnect" ng-repeat="us in user">
                    <img src="./assets/img/icone-panier.png" alt="" class="profil" style="margin-right: 20px;">
                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                        <img ng-src="./{{us.photo}}" alt="" class="profil" style="width: 50px; height: 50px;border-radius: 50%;">
                    </a>
                </div>
            </div>
            <div class="row cat1">
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row cat2">
                    <div class="col-4">
                        <p style="border-right: 1px solid;margin-top: 15px;">Lesbiennes</p>
                    </div>
                    <div class="col-4">
                        <p style="border-right: 1px solid;margin-top: 15px;">Gay</p>
                    </div>
                    <div class="col-4">
                        <p style="margin-top: 15px;">Bisexuelle</p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <!-- fin header -->
    <!-- categorie -->
    <div class="container-fluid-p-0" style="margin-top:20px ;">
    <div class="row">
        <div class="col-2" style=" background-color :black;margin:0px;padding: 0px;">
            <p style="text-align: center;font-size:20px;color:#ee58ec">
                Catégories
            </p>
            <ul class="Listemenu">
                
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('ados')">Ados</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('asiat')">Asiat</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;" >
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('bisexelle')">Bisexuelle</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('black')">Blacks</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('blonde')">Blonde</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('couple')">Couple</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('cougar')">Cougar</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>                    
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('dominatrice')">Dominatrice</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>                    
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('etudiant')">Etudiante</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('gay')">Gay</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>                    
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('gros_sein')">Gros sein</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('latina')">Latina</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('lesbienne')">Lesbienne</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('mamie')">Mamie</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('mature')">Mature</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('mince')">Mince</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('mignonne')">Mignonne</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('ronde')">Ronde</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
                <li class="itemmen">
                    <div class="row">
                        <div class="col-10" ng-click="listerec('transexuelle')">Transexuelle</div>
                        <div class="col-2"> 
                            <img src="./assets/img/fleche-droite.png" alt="" style="margin-left: -12px;">
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-2" style="padding: 0px;margin-left: 5px;max-width: 16%;" ng-repeat="list in listuser">
                    <div style="position: relative; text-align: center;height: 100%;" >
                        <img ng-src="./{{list.photo}}" alt="" style="height: 100%; width: 100%;" >
                        <div class="detailprofilcat">
                            <h6>{{list.nom_user}}</h6>
                            <p style="font-size: 12px; height: 35px">{{list.apropos}}
                            </p>
                            <div class="row">
                                <div class="col-6" style="text-align: center;">
                                    <img src="./assets/img/Appeler.png" alt="" style="opacity: 100% ; margin-left: 5px;height: 70%;">
                                </div>
                                <div class="col-6" ng-click="voir(list.id_user)" style="padding: 0px;">
                                    <img src="./assets/img/btndetail.png" alt="" style="height: 70%;margin-right: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--
        <Table>
        <tr>
            <th>Nom</th>
            <th>Categorie</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Message</th>
        </tr>
        <tr ng-repeat="list in listuser">
            <td>{{list.nom_user}}</td>
            <td>{{list.categorie}}</td>
            <td>{{list.sexe}}</td>
            <td>{{list.photo}}</td>
            
        </tr>
    </Table>
    -->
    

    <footer style="margin-top: 20px;">

        <div class="row" style="background-image: url('./assets/img/footerbg.png');text-align: center; color: white;background-repeat: no-repeat;
        background-size: cover;">
            <div class="col-3">
            <p><b>Téléphone Rose</b></p>    
            <p>telrose</p>    
            <p>telrose</p>    
            <p>telrose</p>    
            </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
        </div>
    
    </footer>
    <script>
       $("#profiltt").hover(function(){
            $(".detailprofilcat").toggle(1000);
            $(".detailprofilcat").css("display","block")
       });
       

    </script> <!-- fin categorie -->

<script src="/socket.io/socket.io.js"></script>