<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TELROSE</title>
    <link rel="stylesheet" href="../assets/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../Styles.css">
    <script src="../angular.min.js"></script>
    <script src="../controller.js"></script>
    </head>
    <body body ng-app="monApp" ng-controller="usercontroller">
    <!-- header -->
    <div class="container-fluid-p-0">
        
        <div class="categorie">
            <div class="row menuheader">
                <div class="col-2 logo">
                    <a href="/">
                    <img src="../assets/img/logo.png" alt="" class="logo">
                </a>
                </div>
                <div class="col-8"></div>
                <div class="col-2 btnconnect" >
                    <a href="/credit">
                        <img src="assets/img/icone-panier.png" alt="" class="profil" style="margin-right: 20px;">
                    </a>
                    <a href="/membres" >
                        <img src="../{{user_to_photo}}" alt="" class="profil">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4" style="text-align: center;background-color: rgb(223, 29, 94);border-radius: 20px 20px 0px 0px;margin-top: 62px;">
                            <a href="/membres" style="text-decoration: none;color: white;">
                                <h6><img src="assets/img/menuCategorie.png" style="margin-right: 10px;" alt="">  Hotêsses</h6>
                            </a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row cat2">
                    <div class="col-4">
                        <p style="border-right: 1px solid;margin-top: 15px;">Lesbiennes</p>
                    </div>
                    <div class="col-4">
                        <p style="border-right: 1px solid;margin-top: 15px;">Gay</p>
                    </div>
                    <div class="col-4">
                        <p style="margin-top: 15px;">Bisexuelle</p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>

    </div>
    <!-- fin header -->
    <!-- profil -->

    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-6" style="margin: 0px;padding: 5px;">
                <div style="background-color: rgb(170, 170, 170); text-align: center;">
                <div class="row"style=" margin: left;margin-left: 50px; margin-right: 50px;">
                    <div class="col-4"style="margin-top: 30px !important;">
                        <h3>{{nom}}</h3>
                    </div>
                    <div class="col-4"style="margin-top: 30px !important;">
                        <p><img src="../assets/img/iconefrance.png" alt="">({{age }}ans)</p>
                    </div>
                    <div class="col-4"style="margin-top: 30px !important;">
                        <h6> <img src="../assets/img/icone-connecté.png" alt=""> connecté</h6>
                    </div>
                </div>
                <p style="margin-top: 20px;"></p>
                <div class="row">
                    <div class="col-6"style="margin-top: 20px !important;">
                        <img src="../assets/img/appelProfil.png" alt="">
                        <p>1 crédit / minute</p>
                    </div>
                    <div class="col-6"style="margin-top: 20px !important;">
                        <div></div>
                        <img src="../assets/img/messagebutton.png" alt="" ng-click="messageprive(id_user_to)">
                        <p>1 crédit / message</p>
                    </div>
                </div>
            </div>

                <div style="background-color: black; text-align: center;margin-top: 10px;">
                    <p style="color: white;text-align: justify;padding: 20px;font-size: 15px;">
                        Le sexe sans conditions, c’est le rêve de beaucoup d’hommes. Se laisser guider par le feeling et prendre le maximum de plaisir dans toutes les positions imaginables. {{nom}}, une chaude étudiante au Tel Rose Coquin a ce quelque chose en plus qui font vibrer tous les hommes avec qui elle  eu le temps de discuter. Après des heures de plaisir au tel, ils sont tous partis les couilles bien vides avec le grand sentiment d’être entièrement satisfaits de ce qu’elle leur avait fait.
                    </p>
                    <p style="color: white;text-align: justify;padding: 20px;font-size: 15px;">
                        {{nom}} est {{apropos}} au Tel Rose Coquin bien dans sa peau et très entreprenante aussi bien au lit qu’au tel. Elle ne se lasse jamais de donner du plaisir à quiconque en cherche. Personne ne résiste à son joli minois.  Lorsqu’elle commence à faire son show, on ressent vite monter la pression jusqu’à faire exploser les boutons des braguettes. Entendre son mec hurler de plaisir au bout du fil l’excite comme une petite folle. Elle a les mains très baladeuses et peut très bien s’occuper des queues avec une bonne gorge profonde. Mais ce qu’elle préfère par-dessus tout, ce sont les grosses bites de black qui lui défoncent les trous. Etre prise en levrette, c’est son plus grand plaisir, mais elle adore aussi qu’on lui lèche sa chatte bien dégoulinante.  Avec elle, tu n’auras pas le temps de t’ennuyer !
                    </p>

                    <p style="color: white;text-align: justify;padding: 20px;font-size: 15px;">
                        Si tu cherches une belle et chaude étudiante au Tel Rose Coquin, super coquine et cochonne, Jennifer est ce qu’il te faut ! Elle saura s’occuper de toi comme tu le mérites. Pipe bien langoureuse, labourage d’anus, et pourquoi pas un joli 69 ? Elle s’ouvre à tous tes désirs les plus fous. En plus, elle est absolument capable de combler toutes tes envies et tes fantasmes, mêmes les plus délirants.
                    </p>

                    <p style="color: white;text-align: justify;padding: 20px;font-size: 15px;">
                        Compose vite son numéro et prépare-toi à des heures de discussions torrides avec une blonde chaude étudiante au Tel Rose Coquin qui te videra les couilles à plusieurs reprises. Voici son numéro
                    </p>
                </div>
            </div>
            <div class="col-6"style="margin: 0px;padding: 5px;">
                <div>
                    <img ng-src="../{{photo}}" alt="" style="width: 560px;height: 500px;">

                </div>
                
                <div  style="margin-left: auto;margin-top: 12px;background-color: #e6e6e6;">
                    <div  style="text-align: center;">
                        <h4>Commentaires</h4>
                    </div>
                    <div style="margin: 0px 50px 0px 50px;">
                        <h4 style="color: #ff00ff;">#Crime</h4>
                        <div class="row" style="border-bottom:1px solid; margin-bottom: 20px;">
                            <div class="col-8">
                                <p style="font-size: 20px;">Oh tu es chaude toi. J'aime bien</p>
                            </div>
                            <div class="col-4">
                                <p style="font-size: 15px;">21/07/2021  21:05</p>
                            </div>
                        </div>
                        <h4 style="color: #ff00ff;">Jalos771</h4>
                        <div class="row" style="border-bottom:1px solid;">
                            <div class="col-8">
                                <p style="font-size: 20px;">Bonjour</p>
                            </div>
                            <div class="col-4">
                                <p style="font-size: 15px;">21/07/2021  21:05</p>
                            </div>
                        </div>
                        <div style="margin-top: 10px;">
                            <a href="#" style="color: darkslategrey;">
                                <p>Voir tous les commentaires</p>
                            </a>
                            
                        </div>
                        <div class="row" style="margin-top: 50px;padding: 0px;">
                            <div class="col-8">
                                <input type="text" style="padding: 10px;border-radius: 25px;width: 100%;" placeholder="Votre commentaire...">
                            </div>
                            <div class="col-4" style="text-align: center;">
                                <a href="#">
                                    <img src="../assets/img/Send.png" alt="">
                                </a>
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
            <div>
                <h4>Autres hottesses dans {{categorie}}</h4>
            </div>
    <div class="row">
        <div class="col-3" style="position: relative;" ng-repeat="li in detailuserencore">
            <img ng-src="../{{li.photo}}" alt="" style="height: 70%;width: 106%;">
            <div class="Autreprofil">
                <h6>{{li.nom_user}}</h6>
                <p style="font-size: 12px; height: 35px ">{{li.apropos}}
                </p>
              <div style="margin-bottom: 20px;">
                  <img src="../assets/img/Voir-profil.png" alt="" ng-click="voir(li.id_user)">
              </div>
            </div>
        </div>
    </div>
    </div>
    
    <footer style="margin-top: 20px;">

        <div class="row" style="background-image: url('../assets/img/footerbg.png');text-align: center; color: white;background-repeat: no-repeat;
        background-size: cover;">
            <div class="col-3">
            <p><b>Téléphone Rose</b></p>    
            <p>telrose</p>    
            <p>telrose</p>    
            <p>telrose</p>    
            </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
            <div class="col-3"><p><b>Téléphone Rose</b></p>    
                <p>telrose</p>    
                <p>telrose</p>    
                <p>telrose</p>  </div>
        </div>
    
    </footer>
    <script src="/socket.io/socket.io.js"></script>

</body>
</html>